<div class="container">
    <div class="row">
        <div class="col l6 s12">            
            <h5 class="white-text">ADDITIONAL INFORMATION</h5>
            <p class="white-text text-lighten-4">
                Site made for testing.
            </p>
        </div>
        <div class="col l3 s12">
            <h5 class="white-text"></h5>
            <ul>
            </ul>
        </div>
        <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
                <li><a class="white-text" href="#!">marceloatabone@gmail.com</a></li>
                <li><a class="white-text" href="#!">+55 048998158221</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright center">
    <div class="container">
        © 2020 Copyright: MarceloAndradeTabone
    </div>
</div>